@import "tailwindcss";

@theme {
    --font-sans: "Sora", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}




/* ---------------------------------------------------------------------------- */
/* ----------------------------- [ Home styling ] ----------------------------- */
/* ---------------------------------------------------------------------------- */
main {
    width: 100%;
    height: auto;
    background-color: black;
}

.spacer {
    height: 11500px;
}

.video_Wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.video_container {
    width: 1750px;
    max-width: 100%;
    margin: 0 auto;
}

.overlayTextContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 100vh;
}

.overlayText {
    width: 1750px;
    max-width: 100%;
    margin: 0 auto;
    color: white;

    padding: 20px;
}

.headingTypography {
    font-family: "Sora", sans-serif;
    font-style: normal;
    letter-spacing: 0;
    padding: 10px 0;
}

.headingTypography span {
    /* background-color: rgba(0, 0, 0, 0.3); */
    padding: 10px;
    border-radius: 5px;
}

.oT_Heading1 {
    font-weight: 700;
    font-size: 50px;
}

.oT_Heading2 {
    margin: 10px 0 0 0;
    font-weight: 600;
    font-size: 25px;
}









/* Animation presets */
.fade-in {
    animation: fadeIn 1s ease both;
}

.fade-in-up {
    animation: fadeInUp 1s ease both;
}

.fade-in-right {
    animation: fadeInRight 1s ease both;
}

.fade-in-down {
    animation: fadeInDown 1s ease both;
}

/* Keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 1500px) {
    .oT_Heading1 {
        font-size: 40px;
    }

    .oT_Heading2 {
        font-size: 20px;
    }
}

/* ---------------------------------------------------------------------------- */
/* ----------------------------- [ Home styling ] ----------------------------- */
/* ---------------------------------------------------------------------------- */